.container {
	max-width:75%;
}

.img-thumbnail {
	padding: 0;
}

/* img tag inside of img-thumbnail */
.img-thumbnail img {
	width: 100%;
}

.img-thumbnail .caption-full {
	padding: 9px;
}

#delete-form {
	display: inline;
}